.trans{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
*{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

*::selection {
  background: #b3c1d8; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #b3c1d8; /* Gecko Browsers */
}

.row.no-gutter {
  margin-right: -2px;
  margin-left: -2px;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
}

.row.gutter-gone {
  margin-right: 0px;
  margin-left: 0px;
}
.row.gutter-gone > [class^="col-"],
.row.gutter-gone > [class*=" col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

body a{color: #212c43;}
body a:hover,
body a:focus{color: #212c43;text-decoration: none;}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #34495e;
    background-color: #fff;
}

header.main{display: block;height: 90px;text-align: center;border-bottom: 4px solid #4db2ec;margin-bottom: 4px;}
header.main a.branding{display: inline-block;margin-top: 20px;}
header.main a.branding > img.logo{width: 100%;height: auto;max-width: 270px;}

section.jumbo{background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #721041;min-height: 140px;margin-bottom: 4px;}
section.jumbo .text_cont{color: #fff;padding: 45px 5px;text-align: center;}
section.jumbo .text_cont .graphic{background: #4db2ec;width: 80px;height: 80px;line-height: 76px;text-align: center;display: inline-block;border-radius: 40px;}
section.jumbo .text_cont .graphic > img{width: 100%;height: auto;max-width: 54px;}
section.jumbo .text_cont h1{display: block;text-transform: uppercase;font-weight: 400;margin: 30px 0 0;font-size: 28px;}

section.blocks{}
section.blocks .panel{display: block;background-size: cover;background-position: center center;background-repeat: no-repeat;color: #fff;position: relative;margin-bottom: 5px;background-color: #000;}
section.blocks .panel.light{height: auto;color: #000;background-color: #f4f4f4;padding: 30px;}
section.blocks .panel.light > h2{padding: 0;}
section.blocks .panel > h2{display: block;padding: 30px 30px;font-size: 21px;font-weight: 700;margin: 0;}
section.blocks .panel .text_cont{display: block;padding: 25px 30px 20px;background: rgba(0,0,0,.65);}
section.blocks .panel .text_cont p{margin: 0;line-height: 25px;}
section.blocks .panel a.more{display: inline-block;background: #4db2ec;color: #fff;text-transform: uppercase;font-size: 15px;padding: 7px 15px;font-weight: 600;border-radius: 2px;margin-top: 15px;text-align: center;}
section.blocks .panel a.more:hover{background: #2e9bd9;}

section.page_title{margin: 30px 0 45px;}
section.page_title h1{margin: 0;text-transform: uppercase;font-size: 24px;}

section.navigation{margin-bottom: 45px;}
section.navigation a.tab{display: block;padding: 10px 15px;background: #eee;font-size: 14px;font-weight: 600;height: 100%;}
section.navigation a.tab:hover{background: #e3e3e3;}
section.navigation a.tab.current{background: #973566;color: #fff;}

section.content{}
section.content article{}
section.content article + article{margin-top: 45px;}
section.content article .section_head{margin-bottom: 30px;}
section.content article .section_head h1,
section.content article .section_head h2,
section.content article .section_head h3,
section.content article .section_head h4{color: #973566;text-transform: uppercase;font-size: 21px;margin: 0;line-height: 30px;}
section.content article h1,
section.content article h2,
section.content article h3,
section.content article h4,
section.content article h5{color: #973566;text-transform: uppercase;display: block;margin: 0 0 15px;}
section.content article h5{font-size: 18px;}
section.content article p{line-height: 24px;font-size: 14px;margin-bottom: 15px;}
section.content article p.spaced{line-height: 40px;}
section.content article p + h3,
section.content article p + h4,
section.content article p + h5{margin-top: 30px;}
section.content article a{color: #2e9bd9;text-decoration: underline;font-weight: 600;}
section.content article ul{margin: 0 0 15px;padding: 0;}
section.content article ul + h3,
section.content article ul + h4,
section.content article ul + h5{margin-top: 30px;}
section.content article ul.large{margin: 30px 0 15px;}
section.content article ul li{display: block;padding-left: 30px;position: relative;}
section.content article ul.plain li{padding: 0;}
section.content article ul li b{color: #973566;text-transform: uppercase;font-weight: 600;}
section.content article ul li:before{font-family: "FontAwesome";content: "\f111";font-size: 6px;position: absolute;left: 5px;top:5px;color: #666;}
section.content article ul.plain li:before{content: "";display: none;}
section.content article ul li + li{margin-top: 5px;}
section.content article ul.large li + li{margin-top: 20px;}
section.content article ul li > ul{margin-top: 5px;}
section.content article ul.large li > ul{margin-top: 20px;}
section.content article figure{margin: 0;padding: 0;}
section.content article ul + figure{margin-top: 30px;}
section.content article figure > img{width: 100%;height: auto;}
section.content article .panel{display: block;background: #eee;padding: 20px;}
section.content article .panel.inverse{background: #973566;color: #fff;}
section.content article .panel > h4{text-transform: uppercase;font-weight: 400;font-size: 18px;margin: 0 0 30px;}
section.content article .panel.inverse h1,
section.content article .panel.inverse h2,
section.content article .panel.inverse h3,
section.content article .panel.inverse h4,
section.content article .panel.inverse h5{color: #fff;}
section.content article .panel.inverse ul{}
section.content article .panel.inverse ul li{}
section.content article .panel.inverse ul li:before{color: #fff;}
section.content article .panel.inverse li > ul li:before{content: "\f10c";font-size: 7px;top: 6px;}
section.content article .panel table.table{}
section.content article .panel table.table th{color: #973566;}
section.content article .panel table.table th,
section.content article .panel table.table td{padding: 10px;}
section.content article .nice_table{background: #eee;margin: 30px 0 15px;}
section.content article .nice_table .table_title{background: #973566;color: #fff;display: block;padding: 30px;}
section.content article .nice_table .table_title h5{display: block;margin: 0;text-transform: uppercase;font-weight: 500;color: #fff;font-size: 18px;}
section.content article .nice_table p{border-bottom: 2px solid #fff;margin: 0;padding: 15px;}
section.content article .nice_table b{color: #973566;font-weight: 600;}
section.content article .nice_table .col-sm-2 p{border-right: 2px solid #fff;height: 100%;text-align: center;vertical-align: top;}
section.content article a.next{display: inline-block;background: #4db2ec;color: #fff;text-transform: uppercase;font-size: 16px;padding: 10px 20px;font-weight: 600;border-radius: 2px;margin-top: 15px;text-align: center;text-decoration: none;}

footer.main{margin-top: 60px;}
footer.main figure{margin: 0;}
footer.main figure img{width: 100%;height: auto;}
footer.main .content{background: #000;color: #fff;padding: 30px;}
footer.main .content p{display: block;margin: 0 0 15px;font-size: 12px;text-align: center;}
footer.main .content ul.social{margin: 0;padding: 0;display: block;text-align: center;}
footer.main .content ul.social li{display: inline-block;}
footer.main .content ul.social li + li{margin-left: 15px;}
footer.main .content ul.social li a{color: #fff;font-size: 18px;}
footer.main .content ul.social li a:hover{color: #4db2ec;}
footer.main .content ul.social li a i.fa{}


@media (min-width: 576px) {
    section.jumbo{min-height: 160px;}
    section.navigation a.tab{height: 125px;}
}
@media (min-width: 768px) {
    section.jumbo{min-height: 180px;}
    section.jumbo .text_cont{padding: 60px 5px;}
    section.blocks .panel{height: 352px;}
    section.blocks .panel.lower{height: 260px;}
    section.blocks .panel .text_cont{position: absolute;bottom: 0;left: 0;width: 100%;}
    section.blocks .panel.light a.more{position: absolute;right: 15px;bottom: 25px;width: auto;display: inline-block;margin: 0;}
    section.content article .panel{padding: 25px;}
    footer.main .content p{text-align: left;display: inline-block;margin: 0;font-size: 12px;}
    footer.main .content ul.social{display: inline-block;float: right;text-align: right;}
}
@media (min-width: 992px) {
    section.jumbo{min-height: 240px;}
    section.jumbo .text_cont{padding: 75px 5px;}
    section.blocks .panel{height: 300px;}
    section.blocks .panel.lower{height: 250px;}
    section.jumbo .text_cont h1{font-size: 32px;}
    section.content article .panel{padding: 30px;}
    section.content article .section_head h1,
    section.content article .section_head h2,
    section.content article .section_head h3,
    section.content article .section_head h4{font-size: 24px;}
    section.page_title h1{font-size: 32px;}
    section.navigation a.tab{height: 83px;}
}
@media (min-width: 1200px) {
    section.jumbo{min-height: 300px;}
    section.jumbo .text_cont{padding: 90px 5px;}
    section.jumbo .text_cont h1{font-size: 36px;}
    section.blocks .panel{height: 258px;}
    section.blocks .panel .text_cont{padding-right: 130px;}
    section.blocks .panel > h2{font-size: 24px;}
    section.blocks .panel a.more{position: absolute;right: 15px;bottom: 25px;width: auto;display: inline-block;margin: 0;}
    section.navigation a.tab{height: 108px;}
    section.navigation a.tab{padding: 15px;height: 108px;font-size: 16px;}
}